image: Visual Studio 2017
platform: Any CPU
configuration: Release
clone_depth: 5
test: off

environment:
  COVERALLS_TOKEN:
    secure: O8YiS0Buu+lahKr+LploPPqJgaA90lTZAq9UuHcc2QIBP1FpY887cqnMaZ4QujSk

install:
  - ps: .\Install-Phase.ps1

before_build:
  - cmd: nuget restore .\DryIoc.Wcf.sln -Verbosity detailed

build:
  parallel: false
  project: .\DryIoc.Wcf.sln
  verbosity: detailed

test_script:
  - ps: .\run-tests.ps1

after_test:
  - cmd: packages\coveralls.io.1.4.2\tools\coveralls.net.exe --opencover coverage.xml -r %COVERALLS_TOKEN%

cache:
  - packages -> **\packages.config

artifacts:
  - path: '.\DryIoc.Wcf\bin\Release\DryIoc.Wcf.dll.*.nupkg'
    name: nuget
    type: NuGetPackage

deploy:
  - provider: NuGet
    api_key:
      secure: bRfbCfNYSAx9w0/Xfpfl+isCTLjKJaarzSt3Huoz9RuX+qe9qt4OL7C2sRwEpzv5
    skip_symbols: false,
    artifact: /.*\.nupkg/
    on:
      DeployArtifacts: true
  - provider: GitHub
    description: 'Release'
    release: $(ReleaseVersion)
    auth_token:
      secure: K71ovddtT7BuOR1D1K9uVRdOT2+Apl6GdQjBYjUki/ySUX9EcWb2MNtupx5ymrkt
    artifact: /.*\.nupkg/
    on:
      DeployArtifacts: true 