<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISampleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11119/SampleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISampleService"
                contract="ServiceReference.ISampleService" name="BasicHttpBinding_ISampleService" />
        </client>
    </system.serviceModel>
</configuration>